@media all and (max-width: 550px) {

  .nav-wrapper {
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;

    .remove-div {
      display: none;
    }

    .left-side {
      display: flex;
      align-items: center;
    }
  }

  .filter-links {
    display: flex;
    flex-direction: column;
  }

  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .left-column {
      height: 275px;
    }

    .right-column {
      padding: 35px;
    }
  }

  .contact-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .left-column {
      height: 100%;
    }

    .right-column {
      padding: 5px;
    }
  }

  .blog-container {
    .content-container {
      width: 100vw;

      div {
        margin: 3px;
        font-size: 1em;
        width: 95%;
      }
    }
  }

  .blog-container {
    .content-container {
      background-color: #f6f6f6;

      .content {
        img {
          height: 140px;
          width: 180px;
        }
      }

      .featured-image-wrapper {
        img {
          height: 180px;
          width: 99%;
          margin-left: 5px;
        }
      }
    }
  }

  .portfolio-detail-wrapper {
    .bottom-content-wrapper {
      margin-bottom: 15px;
    }
  }
}