.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);

  .portfolio-item-wrapper {
    position: relative;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      width: -webkit-fill-available;
      padding-left: 100px;
      padding-right: 100px;

      .subtitle {
        @include ease-in-out-1();
        color: transparent;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $teal;
      font-weight: 400;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.img-blur {
  @include ease-in-out-1();
  filter: brightness(10%);
}